* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1BBC9F linear-gradient(169.1deg, #1F84BD -16.49%,
  rgba(255, 255, 255, 0) 144.83%) no-repeat;
  border-radius: 4px;
}